@import "../css/utility.css";
.services{
    padding: 5rem 0 2.5rem 0;
}
.services > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}
.services .item{
    text-align: center;
    padding: 1.5rem 0 4rem 0;
    background: var(--nero);
    margin: 1.5rem 0;
    cursor: pointer;
    transition: var(--transition);
}
.services .item span{
    font-size: 5rem;
    color: var(--green);
}
.services .item h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
}
.services .item h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    background: var(--green);
    width: 50px;
    height: 0.5px;
    left: 50%;
    transform: translateX(-50%);
}
.services .item:hover{
    background: var(--green);
}
.services .item:hover span{
    color: var(--pri_font);;
}
.services .item:hover h2{
    color: var(--black);
}
.services .item:hover h2::after{
    background: var(--black);
}
.services .btn{
    margin: 2.5rem auto 1rem auto;
    display: block;
}


/* #### SKILLS PAGE #### */
.skills{
    padding: 5rem 0 2.5rem 0;
}
.skills > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}
.skills .row{
    margin: 1rem 0;
}
.skills .item{
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}
.skills .item-text{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
}
.skills .item-text span:last-child{
    position: absolute;
}
.skills .item-text .w-90{
    margin-left: 85%;
}
.skills .item-text .w-75{
    margin-left: 70%;
}
.skills .item-text .w-85{
    margin-left: 80%;
}
.skills .item-text .w-80{
    margin-left: 75%;
}
.skills .item-text .w-60{
    margin-left: 55%;
}
.skills .item-text .w-68{
    margin-left: 63%;
}
.progress{
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    background-color: var(--nero);
    overflow: hidden;
}
.progress-bar{
    background: var(--green);
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.progress-bar.w-90{
    width: 90%;
}
.progress-bar.w-75{
    width: 75%;
}
.progress-bar.w-85{
    width: 85%;
}
.progress-bar.w-80{
    width: 80%;
}
.progress-bar.w-60{
    width: 60%;
}
.progress-bar.w-68{
    width: 68%;
}
@media screen and (min-width: 768px){
    .services .row{
        display: flex;
        flex-wrap: wrap;
    }
    .services .item{
        flex: 0 0 calc(50% - 2rem);
        margin: 1rem;
    }
}

@media screen and (min-width: 992px){
    .services .item{
        flex: 0 0 calc(33.33% - 2rem);
    }
}
